doctype
html

  head
    title #{title} - tetraglypth
    
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')

  body
    //- include navbar
    block content
  
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    //- script(src="/socket.io/socket.io.js")