doctype
html
    
    link(rel='stylesheet', href='/css/math.css')
    
    meta(charset='utf-8')     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src="/paperjs/dist/paper-full.min.js")
    script(src="/lz-string/lz-string.min.js")
    script(src="/MathJax/MathJax.js?config=AM_HTMLorMML-full")

    head    
        title tetraglypth
    
    body
        textarea#source
            |cat
        textarea#transl
        p#output
            |`sinx`
        script(src="/math/math#{id}.js")
